body{
    background:linear-gradient(180deg,rgb(255, 255, 255),rgb(220, 220, 219));
    width: 100%x;
    height: 1024px;
    
}

#logo{
    position: absolute;
    left: 80px;
    top: 40px;
    display: inline-block;
}


.entrada-texto{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;

    background-color: #F3F5FC;
    border: none;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight:400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;   
}

            .entrada-texto::placeholder{
                color: #0A3871; 
            }
            .entrada-texto:focus{
                outline: none;
            }

#muneco{
    position: absolute;
    margin: 243px 32px 397px 32px;
    width: 336px;
    height: 304px;
    border: none;
    resize: none;
}
    #muneco:focus{
        outline: none;
    }

.rectangulo{
    width: 400px;
    height: 944px;
    margin: 40px 40px 40px 1000px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;   
    box-shadow: 10px 10px 20px 5px rgb(83, 83, 91)  ;

}

#mensaje{
    display: flex ;
    position:absolute;
    border: none;
    margin-left: 18px;
    margin-top: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight:400;
    font-size: 32px;
    line-height: 110%;
    color: #0A3871;
    resize: none;
    width: 376px;
    
}

        #mensaje:focus{
            outline: none;
        }





#info-rectangulo{

position: absolute;
width: 336px;
height: 122px;
left: 1032px;
top: 619px;
    
display: flex;             /* display: flex hace que los elementos hijos sean felxibles a horientacion, espacios, etc */
flex-direction: column; /* Determina si la horientacion del gap sera horizontal o vertical */
align-items: flex-start; /* Determina desde donde se alinearan los elementos hijos  */
padding: 0px;
gap: 16px; /* gap genera un espacio entre las dos etiquetas hijas, dependiendo de la  horientacion de flex-direction */
    
}

#info-rectangulo-1{
width: 336px;
height: 58px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-align: center;
display: none;
color: rgb(182, 61, 61);
}
#info-rectangulo-2{
width: 336px;
height: 48px;
font-family: inter;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #495057;
}




#caja-botones{
    position: absolute;
    left: 240px;
    top: 885px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;

    width: 680px;
    height: 67px;
    border-color: #0A3871;
    
}

            #boton-1{
                width: 328px;
                height: 67px;
                border-radius: 25px;
                color: white;
                background-color: #0A3871;

                font-family: inter;
                font-weight: 500;
                
            }
                        #boton-1:hover{
                            cursor: pointer;
                            transform: scale(105%);transition: 0.4s;
                        }
                        #boton-1:active{
                            background-color: #2e2525;
                            transition: none;
                        }
            

            #boton-2{
                width: 328px;
                height: 67px;
                border-radius: 25px;
                color: #0A3871;
                background-color: #D8DFE8;

                font-family: inter;
                font-weight: 500;
                
            }
                        #boton-2:hover{
                            cursor: pointer;
                            transform: scale(105%);
                            transition: 0.4s;
                        }
                        #boton-2:active{
                            background-color: #2e2525;
                            transition: none;
                        }




            #boton-3{
                padding: 24px;
                border-radius: 24px;
                border: 1px solid #0A3871;
                text-align: center;
                
                position: absolute;
                display: none;
                width: 336px;
                height: 67px;
                left: 1032px;
                top: 805px;
                
                background-color: #0A3871;
                color: #ffffff;
                font-family: inter;
                font-weight: 500;
                
                }
                            #boton-3:hover{
                                cursor: pointer;
                                transform: scale(105%);
                                transition: 0.4s;
                            }
                            #boton-3:active{
                                background-color: #2e2525;
                                transition: none;
                            }



                .boton-4{
                    padding: 24px;
                    border-radius: 24px;
                    border: 1px solid #0A3871;
                    text-align: center;
                    
                    position: absolute;
                    display: inline-block;
                    width: 336px;
                    height: 67px;
                    left: 1032px;
                    top: 885px;
                    
                    color: #0A3871;
                    font-family: inter;
                    font-weight: 500;
                    
                    }
                                .boton-4:hover{
                                    cursor: pointer;
                                    transform: scale(105%);
                                    transition: 0.4s;
                                }
                                .boton-4:active{
                                    background-color: #2e2525;
                                    transition: none;
                                }

#info-botones{
    position: absolute;
    left: 240px;
    top: 851px;


    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    width: 229px;
    height: 18px;
}

#info-botones img{
    width: 16px;
    height: 16px;
    

}

#info-botones p{
    width: 205px;
    height: 18px;

    font-family: inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

}


#footer{

    width: 550px;
    height: 23px;
    margin: 45px auto;
}
            #footer-text{
                display: inline-block;
                font-size: 20px;
                font-family: inter;
                font-weight: 500;     
                margin: 15px 10px 0px 10px;           
            }

            #footer-img{
            vertical-align: top;
                width: 35px;
            }